---
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  </head>
  <body>
    <div>DISCLAIMER: This page is just a source of information you could think up on your own. Use the content as a grown-up person - at your own risk.</div>
    <hr/>

    {{ content }}

    <footer style="font-size: 0.8em;">
      <img style="width: 10px; height: 10px" src="http://xystus54g.com/assets/images/Copyleft.png" alt="Copyleft" />
      Motiejus Jakštys. <a href="http://sam.zoy.org/wtfpl/COPYING" title="License">No rights reserved.</a>
    </footer>
  </body>
  <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
      try{
          var pageTracker = _gat._getTracker("UA-8888867-1");
          pageTracker._trackPageview();
      } catch(err) {}
  </script>
</html>
